
@import "tailwindcss";

@import "daisyui";

.bg-main {
  background-color: var(--bg-main);
}

.text-main {
  color: var(--text-main);
}

.bg-card {
  background: var(--card-gradient);
}

.bg-btn {
  background: var(--btn-gradient);
}

.hover-glow:hover {
  box-shadow: 0 0 20px rgba(14, 165, 233, 0.5);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
